/* coded by SabWaFei */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-drk-blu: hsl(233, 26%, 24%);
  --clr-lme-grn: hsl(136, 65%, 51%);
  --clr-bgt-cyn: hsl(192, 70%, 51%);
  --clr-gry-blu: hsl(233, 8%, 62%);
  --clr-lgt-gry: hsl(0, 0%, 98%);
  --clr-wht: hsl(0, 0%, 100%);
  --ff-pub-sans: "Public Sans", sans-serif;
  --fw-lgt: 300;
  --fw-med: 400;
  --fw-hvy: 700;
}
body {
  font-size: 18px;
  font-family: var(--ff-pub-sans);
  background-color: lightgray;
}
/* typography */
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
h1 {
  font-weight: var(--fw-lgt);
  font-size: 2.7rem;
}
h2 {
  font-weight: var(--fw-lgt);
  font-size: 2rem;
}
p {
  color: var(--clr-gry-blu);
  line-height: 1.5em;
  font-size: 0.9em;
}
button {
  padding: 0.8rem 1.8rem 0.8rem 1.8rem;
  border-radius: 20px;
  border: none;
  color: var(--clr-wht);
  letter-spacing: 1px;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}
#dskt-nav-button {
  display: none;
}
/* layout */
.container {
  border: red solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* nav-styling */
nav {
  background-color: var(--clr-wht);
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav-links-container {
  width: 90%;
  background-color: white;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 6%;
  left: 5%;
  /* hidden by default */
  display: none;
}
.nav-links {
  border: solid green 1px;
  padding: 1em 0 1em 0;
  text-transform: capitalize;
}
/* ***************************** */

/* next-gen section styling */
.next-gen {
  text-align: center;
  width: 100%;
}
.mobile-background-img {
  width: 100%;
  position: relative;
  bottom: 130px;
  z-index: -1;
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position-y: 90px;
}
.title {
  margin-top: -20%;
  margin-bottom: 1rem;
}
.sub-title {
  margin-bottom: 2rem;
}
.cta-btn {
  margin-bottom: 5rem;
}
/* why section styling */
.why {
  border: solid green 1px;
  text-align: center;
  width: 90%;
}
.why > * {
  margin-bottom: 2rem;
}
